h1{ text-align: center;
    color: #ff9494;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'Playpen Sans', cursive;
}

ol {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    background-color:rgb(240, 63, 116);
    border-radius: 10px;
    font-family: 'Lobster', sans-serif;
    
}
body{
    background: url(image/bc.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playpen Sans', cursive;
    margin: 20px;
    font-size: 20px;
    color: #ff9494;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
h4{
    text-decoration:underline ;
    font-family: 'Playpen Sans', cursive;
    color: #ff9494;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.video{
    display: flex;
    align-items: center;
    object-fit: contain;
    /*width et height pour dimensioner une image ou une video*/
    width : 580px;
    height: 380px;
}

#image{
    display: flex;
    justify-content:space-between;
}

/*pour la legende (flex direction pour les colone ou les row*/
.img{
    display: flex;
    flex-direction: column;
    /* pour aligner la legende sour les div image (voire html)*/
    align-items: center;
}

/*dans les id ou classe ont pet indicer l'element affin detre plus precis pour nos modif*/
#image .img img{
    border-radius: 25px;
    margin: 5%;
    /* object-fit pour adapter a sont conteneur en utilisant largeur et hauteur */
    object-fit: contain;
}


