h1{ text-align: center;
    color: #ff9494;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'Playpen Sans', cursive;
}

ol {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    background-color:rgb(240, 63, 116);
    border-radius: 10px;
    font-family: 'Lobster', sans-serif;
    
}
body{
    background: url(image/bc.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playpen Sans', cursive;
    margin: 20px;
    font-size: 20px;
    color: #ff9494;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.image1{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image2{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image3{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image4{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image5{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image6{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image7{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image8{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image9{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image10{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image11{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image12{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }
  .image13{
    border: solid #fc5d5d;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: #fff;
  }